@charset "UTF-8";
/* CSS Document */

* {
	background: #27150F;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
}
caption {
	font-weight:bold;
	font-size: 56px;
	margin-bottom: 20px;
	font-family: 'Gentium Book Basic', serif;
}
p {
	font-family: 'Arimo', sans-serif;
	margin-bottom: 18px;
	line-height: 18px;
	color: #F1E8DC;
}
table {
	color: #F1E8DC;
}
td {
	font-family: 'Arimo', sans-serif;
}
header {
	text-align: center;
	font-size:36px;
	font-family: 'Gentium Book Basic', serif;
	color: #F1E8DC;
}
#header {
	background: #F1E8DC;
}
#lead-in {
	font-size:20px;
	line-height: 24px;
	margin-bottom: 18px;
}
footer {
	text-align:center;
	margin-top: 20px;
	background: #F1E8DC;
}
td {
	padding-bottom: 20px;
	border-bottom: solid 1px #F1E8DC;
}
table {
	width: 100%;
}
textarea {
	margin: 20px;
}
button {
	display: block;
	margin: 0 auto;
}
form {
	color: #F1E8DC;
}
div {
	padding-bottom: 20px;
}

.hero {
	width: 100%;
	margin-top: 20px;
}
.logo {
	width: 200px;
	margin-right: 60px;
}
.img-button {
	width: 100px;
	height: auto;
	margin: 20px;
}
.row-4 {
	text-align:center;
	margin: 20px;
}
.row {
	width: 100%;
	padding-bottom: 20%;
}
.row-2 {
	text-align: center;
	margin: 20px 0;
}
.col-1-1 {
	float: left;
	width: 50%;
}
.col-1-2 {
	float: left;
	width: 50%;
	text-align: center;
}
