@charset "UTF-8";
/* CSS Document */

/* --TABLE OF CONTENTS--\
1.0 HEADER
1.1 CONTENT-ONE
2.1 TABLES
3.0 CONTENT-THREE
4.1 FORMS
4.2 FOOTER
\ -------------------- */
/* ========================================================== \
												1.0 HEADER-ONE
\ ========================================================== */
.wrapper {
	width: 100%;
}
section {
	margin: 125px 0;
}
body {
	font-family: 'Arimo', sans-serif;
	font-size: 16pt;
	color: #27150f;
	line-height: 24pt;
}
#top-nav-bar {
	background: #F1E8DC;
	width: 100%;
	overflow: auto;
}
ol, li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	color: #2C5B4A;
}
.nav-li {
	position: absolute;
	top: 110px;
	left: 390px;
	font-size: 2rem;
}
.imgs {
	width: 100%;
	position: relative;
	opacity: 0.5;
}
#bg-hero {
	background: url(../img/woodfloor.jpg) no-repeat center;
	background-size: cover;
	color: #8D2E41;
	text-align: center;
	font-size: 2rem;
}
.center-block {
	float: none !important;
	margin-right: auto;
	margin-left: auto;
}
/* ========================================================== \
												1.1 CONTENT-ONE
\ ========================================================== */
.row {
	width: 71%;
	margin: 0 auto;
	overflow: auto;
}
.row:after {
	content: " ";
	display: table;
	clear: both;
}
.col-1-1 {
	width: 100%;
}
.col-1-2 {
	float: left;
	display: inline-block;
	width: 45%;
}
[class*='col-'] {
	float: left;
	padding: 0 10px 10px 0;
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
h2, h3, h4 {
	font-family: 'Gentium Book Basic', serif;
	font-weight: bold;
	color: #8D2E41;
	text-align: center;
}
h3 {
	font-size: 3rem;
}
h2 {
	font-size: 4rem;
}
a:active {
	text-decoration: none;
	color: #000;
}
a:visited {
	text-decoration: none;
	color: inherit;
}
a:link {
	text-decoration: none;
	color: inherit;
}
@media screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) {
	body {
		line-height: 36px;
	}
	h2 {
		line-height: 96px;
	}
	.col-1-1 {
		width: 100%;
	}
	.col-1-2 {
		width: 50%;
	}
	#bg-hero {
		font-size: 1rem;
	}
	table, thead, tbody, th, tr, td {
		display: block;
	}
	thead tr {
		
	}
	tr {
		border: 1px solid #CCCCCC;
	}
	td {
		border: none;
		position: relative;
		border-bottom: 1px solid #EEEEEE; 
		padding-left: 50%;
	}
	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}
/* ========================================================== \
												2.1 TABLES
\ ========================================================== */
th {
	color: #8D2E41;
	font-size: 1.5rem;
}
td {
	padding: 5px;
	font-size: 1rem;
}
table {
	width: 100%
}
#btn a {
	background: #8D2E41;
	padding: 10px;
	color: #f1e8dc;
	font-size: 1rem;
}
#btn a:hover {
	background: #da4765;
	color: #000;
}
/* ========================================================== \
												3.0 CONTENT-THREE
\ ========================================================== */
h4 {
	font-size: 2rem;
	margin: 10px 0;
}
/* ========================================================== \
												4.1 FORMS
\ ========================================================== */
textarea, label, input {
	display: block;
	margin: 15px auto;
	text-align: center;
}
button {
	margin: 20px auto;
	display: inherit;
	background: #8D2E41;
	color: #f1e8dc;
}
button:hover {
	background: #da4765;
	color: #000;
}
/* ========================================================== \
												4.2 FOOTER
\ ========================================================== */
#bot-nav-bar {
	background: #F1E8DC;
	width: 100%;
	overflow: auto;
	position: relative;
	bottom: 0;
}
.nav-soc {
	position: absolute;
	bottom: 40px;
	left: 440px;
}



.nav-soc li {
	max-width:20%;
}

.img-responsive {
	width:100%;
}