@charset "UTF-8";
/* CSS Document */

/* --TABLE OF CONTENTS--\
1.0 HEADER
1.1 CONTENT-ONE
2.0 CONTENT-TWO
2.1 TABLES
3.0 CONTENT-THREE
3.1 REVIEWS
3.2 UPDATES
4.0 CONTENT-FOUR
4.1 FORMS
4.2 FOOTER
#50a788 GREEN
#f1e8dc TAN
#da4765 PINK
#8d2e41 RED
\ -------------------- */
/* ========================================================== \
												1.0 HEADER-ONE
\ ========================================================== */
#wrapper-1-1 {
	width: 100%;
}
#top-nav-bar {
	background: #F1E8DC;
	width: 100%;
	overflow: auto;
	position: relative;
}
ol, li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	color: #2C5B4A;
}
.nav-li {
	position: absolute;
	top: 75px;
	left: 430px;
	font-size: 2rem;
}
.col-1-2 {
	float: left;
	display: inline-block;
	width: 45%;
}
.on-img {
	position: absolute;
	top: 360px;
	left: 470px;
	width: 500px;
	margin: 0 auto;
	font-size: 2.5rem;
	text-align: center;
	color: #8D2E41;
}
.imgs {
	width: 100%;
	position: relative;
	opacity: 0.5;
}
/* ========================================================== \
												1.1 CONTENT-ONE
\ ========================================================== */
#wrapper-1-2 {
	width: 75.2%;
	margin: 0 auto;
}
.row {
	width: 71%;
	margin: 0 auto;
	padding-bottom: 20px;
}
.col-1-1 {
	width: 100%;
}
.row:after {
	content: " ";
	display: table;
	clear: both;
}
[class*='col-'] {
	float: left;
	padding: 0 10px 10px 0;
}
[class*='col-']:last-of-type {
	padding-right: 0;
}
body {
	font-family: 'Arimo', sans-serif;
	font-size: 16pt;
	color: #27150f;
}
h2, h3, h4 {
	font-family: 'Gentium Book Basic', serif;
	font-weight: bold;
	color: #8D2E41;
	margin: 0 auto;
	text-align: center;
}
h4 {
	font-size: 2rem;
}
h3 {
	font-size: 3rem;
	padding-top: 40px;
}
h2 {
	font-size: 4rem;
	padding-top: 40px;
}
a:active {
	text-decoration: none;
	color: #000;
}
a:visited {
	text-decoration: none;
	color: inherit;
}
a:link {
	text-decoration: none;
	color: inherit;
}
@media screen and (max-width: 768px) {
}
/* ========================================================== \
												2.0 CONTENT-TWO
\ ========================================================== */
/* ========================================================== \
												2.1 TABLES
\ ========================================================== */
th {
	padding: 10px 10px 0 10px;
	color: #8D2E41;
}
table {
	padding: 20px 0; 
}
#order a {
	background: #8D2E41;
	color: #f1e8dc;
}
.order:hover {
	background: #da4765;
	color: #000;
}
.top-roast {
	font-size: 1.5rem;
}
/* ========================================================== \
												3.0 CONTENT-THREE
\ ========================================================== */
#reviews {
	margin-top: 20px;
}
/* ========================================================== \
												3.1 REVIEWS
\ ========================================================== */
/* ========================================================== \
												3.2 UPDATES
\ ========================================================== */
/* ========================================================== \
												4.0 CONTENT-FOUR
\ ========================================================== */
#contact {
	margin-top: 20px;
}
textarea, label, input {
	display: block;
	margin: 15px auto;
	text-align: center;
}
button {
	margin: 20px auto;
	display: inherit;
	background: #8D2E41;
	color: #f1e8dc;
}
button:hover {
	background: #da4765;
	color: #000;
}
/* ========================================================== \
												4.1 FORMS
\ ========================================================== */
/* ========================================================== \
												4.2 FOOTER
\ ========================================================== */
#bot-nav-bar {
	background: #F1E8DC;
	width: 100%;
	overflow: auto;
	position: relative;
}
.nav-soc {
	position: absolute;
	bottom: 0;
	left: 500px;
}